body {
    font-family: 'Roboto', sans-serif;
    background: #813a3a;
    color: #23202a;
    position: relative;
  }

  /* Начальные стили для элемента, который будет следовать за курсором, в нашем случае небольшой кружок */
  .follow-cursor {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #ffffff;
    border-radius: 10%;
    
    transform: translateY(-50%) translateX(-50%); /* центрируем кружок */
    position: absolute; /* задаём абсолютное позиционирование, чтобы элемент не влиял на остальные элементы и его можно было бы позиционировать следом за курсором */
    z-index: 999; /* чтобы элемент был над остальными элементами */
    pointer-events: none; /* чтобы сквозь элемент можно было взаимодействовать с элементами, находящимися под ним */
    transition: width 0.64s, height 0.64s, border-radius 0.64s, background 0.64s;
  }
  
  /* Активный класс для кружка при наведении на ссылку */
  .follow-cursor_active {
    height: 128px;
    width: 128px;
    border-width: 2px;
    background: rgba(13,110,253,0.32);
  }

  
  